main {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 200px;
  background: #ccc;
}

#main-container {
  min-height: 100vh;
}

.server-output {
  resize: vertical;
  height: 200px;
  overflow: scroll;
}

.server-output > .col-6 {
  overflow: scroll;
  height: 100%;
}

.server-output .row {
  border-bottom: 1px solid #ccc;
}
